---
layout: default
---

{% include section.html background=page.image %}

<h1 class="center">{{ page.title }}</h1>

{%
  include post-info.html
  author=page.author
  member=page.member
  published=page.date
  updated=page.last_modified_at
  tags=page.tags
%}

{% include section.html %}

<!-- Description -->
<div>
  <h3>Project Description</h3>
  {{ content }}
</div>

<!-- Scope -->
{% if page.scope %}
<div>
  <h3>Scope</h3>
  <ul>
      {% for constraints in page.scope %}
      <li>{{ constraints }}</li>
      {% endfor %}
  </ul>
</div>
{% endif %}

<!-- datasource -->
{% if page.datasources %}
<div>
  <h3>Data Source</h3>
  <ul>
      {% for datatype in page.datasources %}
      <li>{{ datatype }}</li>
      {% endfor %}
  </ul>
</div>
{% endif %}

<!-- Resources -->
{% if page.resources %}
<div>
  <h3>Resources</h3>
  <ul>
      {% for resource in page.resources %}
      <li>{{ resource }}</li>
      {% endfor %}
  </ul>
</div>
{% endif %}



{% include section.html %}

{% include post-nav.html post=page %}
